name: Build all

on:
  push:
    branches:
      - main
    paths:
      - 'localization/**'
      - 'resources/**'
      - 'scripts/**'
      - 'tests/**'
      - 'tools/**'
      - 'deps/**'
      - 'src/**'
      - ".github/workflows/build_*.yml"
      - 'build_release_vs2022.bat'
      - 'build_release_macos.sh'
      - '**/CMakeLists.txt'
      - 'build_linux.sh'
      - 'version.inc'

  pull_request:
    branches:
      - main
    paths:
      - 'localization/**'
      - 'resources/**'
      - 'scripts/**'
      - 'tests/**'
      - 'tools/**'
      - 'deps/**'
      - 'src/**'
      - ".github/workflows/build_*.yml"
      - 'build_release_vs2022.bat'
      - 'build_release_macos.sh'
      - '**/CMakeLists.txt'
      - 'build_linux.sh'
      - 'version.inc'

  workflow_dispatch: # allows for manual dispatch
    inputs:
      build-deps-only:
        description: 'Only build dependencies (bypasses caching)'
        type: boolean
        default: false

permissions:
  pull-requests: write
  contents: write
  actions: write
  checks: write
  issues: write

jobs:
  build_linux:
    name: Build Linux (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
    uses: ./.github/workflows/build_check_cache.yml
    with:
      os: ${{ matrix.os }}
      build-deps-only: ${{ inputs.build-deps-only || false }}
    secrets: inherit
  build_all:
    name: Build Non-Linux
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          - os: macos-14
            arch: arm64
    uses: ./.github/workflows/build_check_cache.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build-deps-only: ${{ inputs.build-deps-only || false }}
      force-build: ${{ github.event_name == 'schedule' }}
    secrets: inherit
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    needs: build_linux
    if: ${{ !cancelled() && success() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
            scripts
            tests
      - name: Apt-Install Dependencies
        shell: bash
        run: |
          mkdir -p ${{ github.workspace }}/deps/build/destdir
          sudo env "ORCA_UPDATER_SIG_KEY=$ORCA_UPDATER_SIG_KEY" ./build_linux.sh -ur
          sudo chown $USER -R ./
      - name: Restore Test Artifact
        uses: actions/download-artifact@v7
        with:
          name: ${{ github.sha }}-tests
      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.28.0"  # use most recent 3.28.x version
      - name: Unpackage and Run Unit Tests
        timeout-minutes: 20
        run: |
          tar -xvf build_tests.tar
          scripts/run_unit_tests.sh
      - name: Upload Test Logs
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: unit-test-logs
          path: build/tests/**/*.log
      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "ctest_results.xml"
  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
      volumes:
        - /usr/local/lib/android:/usr/local/lib/android
        - /usr/share/dotnet:/usr/share/dotnet
        - /opt/ghc:/opt/ghc1
        - /usr/local/share/boost:/usr/local/share/boost1
        - /opt/hostedtoolcache:/opt/hostedtoolcache1
        - /opt/az:/opt/az1
        - /usr/local/share/powershell:/usr/local/share/powershell1
        - /usr/local/share/chromium:/usr/local/share/chromium1
        - /opt/google/chrome:/opt/google/chrome1
        - /usr/local/lib/node_modules:/usr/local/lib/node_modules1
        - /home/linuxbrew/.linuxbrew:/linuxbrew1
    strategy:
      fail-fast: false
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    env:
      date: ""
      ver: ""
      ver_pure: ""
    steps:
    - name: "Remove unneeded stuff to free disk space (non-blocking on fail/error)"
      run: |
        rm -rfv /usr/local/lib/android/* || true
        rm -rfv /usr/share/dotnet/* || true
        rm -rfv /opt/ghc1/* || true
        rm -rfv /usr/local/share/boost1/* || true
        rm -rfv /opt/hostedtoolcache1/* || true
        rm -rfv /usr/local/share/powershell1/* || true
        rm -rfv /usr/local/share/chromium1/* || true
        rm -rfv /opt/google/chrome1/* || true
        rm -rfv /usr/local/lib/node_modules1/* || true
        rm -rfv /linuxbrew1/* || true
    - uses: actions/checkout@v6
    - name: Get the version and date
      run: |
        ver_pure=$(grep 'set(SoftFever_VERSION' version.inc | cut -d '"' -f2)
        if [[ "${{ github.event_name }}" == "pull_request" ]]; then
          ver="PR-${{ github.event.number }}"
          git_commit_hash="${{ github.event.pull_request.head.sha }}"
        else
          ver=V$ver_pure
          git_commit_hash=""
        fi
        echo "ver=$ver" >> $GITHUB_ENV
        echo "ver_pure=$ver_pure" >> $GITHUB_ENV
        echo "date=$(date +'%Y%m%d')" >> $GITHUB_ENV
        echo "git_commit_hash=$git_commit_hash" >> $GITHUB_ENV
      shell: bash
    - uses: flatpak/flatpak-github-actions/flatpak-builder@master
      with:
        bundle: OrcaSlicer-Linux-flatpak_${{ matrix.variant.arch }}.flatpak
        manifest-path: scripts/flatpak/io.github.nanashithenameless.OrcaSlicer.yml
        cache: true
        arch: ${{ matrix.variant.arch }}
        upload-artifact: false
        repository-name: OrcaSlicer-NanashiTheNameless
    - name: Upload artifacts Flatpak
      uses: actions/upload-artifact@v6
      with:
        name: OrcaSlicer-Linux-flatpak_nightly_${{ matrix.variant.arch }}.flatpak
        path: '/__w/OrcaSlicer/OrcaSlicer/OrcaSlicer-Linux-flatpak_${{ matrix.variant.arch }}.flatpak'
    - name: Deploy Flatpak to nightly release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository == 'NanashiTheNameless/OrcaSlicer'
      uses: NanashiTheNameless/deploy-nightly@master
      with:
        token: ${{ secrets.GH_TOKEN }}
        upload_url: https://uploads.github.com/repos/NanashiTheNameless/OrcaSlicer/releases/242055857/assets{?name,label}
        release_id: 242055857
        asset_path: '/__w/OrcaSlicer/OrcaSlicer/OrcaSlicer-Linux-flatpak_${{ matrix.variant.arch }}.flatpak'
        asset_name: OrcaSlicer-Linux-flatpak_nightly_${{ matrix.variant.arch }}.flatpak
        asset_content_type: application/octet-stream
        max_releases: 1 # optional, if there are more releases than this matching the asset_name, the oldest ones are going to be deleted
