name: Build Deps
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      arch:
        required: false
        type: string
      build-deps-only:
        required: false
        type: boolean
      force-build:
        required: false
        type: boolean

jobs:
  build_deps:
    name: Build Deps
    runs-on: ${{ inputs.os }}
    outputs:
      artifact-name: ${{ env.ARTIFACT_NAME }}
      artifact-path: ${{ env.DEPS_PATH }}
    env:
      date: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'

      # Cached deps are just the final outputs, no intermediate files.
      # So building XOR cache loading.
      # We use `lookup-only` to skip pulling cache.
      - name: load cached deps
        uses: actions/cache/restore@v4
        id: cache-load
        with:
          path: ${{ env.DEPS_PATH }}
          key: ${{ inputs.os }}-${{ inputs.arch }}-cache-orcaslicer_deps-build-${{ hashFiles('deps/**') }}
          lookup-only: ${{ env.DO_BUILD == 'true' }}  # Doing this instead of `if` preserves the outputs of this step

      - uses: lukka/get-cmake@latest
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') }}
        with:
          cmakeVersion: "~3.28.0"  # use most recent 3.28.x version

      - name: setup dev on Windows
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') && inputs.os == 'windows-latest' }}
        uses: microsoft/setup-msbuild@v2

      - name: Get the date on Ubuntu and macOS
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') && inputs.os != 'windows-latest' }}
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_ENV
        shell: bash

      - name: Get the date on Windows
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') && inputs.os == 'windows-latest' }}
        run: echo "date=$(Get-Date -Format 'yyyyMMdd')" | Out-File -Append -FilePath $env:GITHUB_ENV -Encoding utf8
        shell: pwsh

      - name: Build on Windows
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') && inputs.os == 'windows-latest' }}
        working-directory: ${{ github.workspace }}
        run: |
            choco install strawberryperl
            .\build_release_vs.bat deps

      # Windows and Linux don't need to delete any directories, because they only package up deps/build/OrcaSlicer_dep.
      # But Mac has multiple and we're preserving their directory structure relationship.
      # So the garbage siblings of OrcaSlicer_dep can be deleted to save artifact and cache space.
      - name: Build on Mac ${{ inputs.arch }}
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit != 'true') && inputs.os == 'macos-14' }}
        working-directory: ${{ github.workspace }}
        run: |
            brew install automake texinfo libtool
            brew list
            brew uninstall --ignore-dependencies zstd
            ./build_release_macos.sh -dx -a universal -t 10.15 -1
            for arch in arm64 x86_64; do
                (cd "${{ github.workspace }}/deps/build/${arch}" && \
                find . -mindepth 1 -maxdepth 1 ! -name 'OrcaSlicer_dep' -exec rm -rf {} +)
            done
            brew install zstd

      - name: Apt-Install Dependencies
        if: inputs.os == 'ubuntu-22.04' || inputs.os == 'ubuntu-24.04'
        shell: bash
        run: |
          mkdir -p ${{ github.workspace }}/deps/build/destdir
          sudo env "ORCA_UPDATER_SIG_KEY=$ORCA_UPDATER_SIG_KEY" ./build_linux.sh -ur
          sudo chown $USER -R ./

      - name: Build on Ubuntu
        if: inputs.os == 'ubuntu-22.04' || inputs.os == 'ubuntu-24.04'
        working-directory: ${{ github.workspace }}
        run: |
            ./build_linux.sh -dr
            cd deps/build
            tar -czvf OrcaSlicer_dep_ubuntu_$(date +"%Y%m%d").tar.gz destdir

      - name: Upload Windows artifacts
        if: inputs.os == 'windows-latest'
        uses: actions/upload-artifact@v6
        with:
          name: OrcaSlicer_dep_win64_${{ env.date }}
          path: ${{ github.workspace }}/deps/build/OrcaSlicer_dep*.zip

      - name: Upload Ubuntu artifacts
        if: ${{ inputs.os == 'ubuntu-22.04' || inputs.os == 'ubuntu-24.04' }}
        env:
          ubuntu-ver: ${{ (inputs.os == 'ubuntu-22.04' && '2204') || (inputs.os == 'ubuntu-24.04' && '2404') || '' }}
        uses: actions/upload-artifact@v6
        with:
          path: ${{ env.DEPS_PATH }}
          key: ${{ steps.cache-load.outputs.cache-primary-key }}

  build_orca:
    name: Build OrcaSlicer
    needs: [build_deps]
    if: ${{ !cancelled() && (!inputs.build-deps-only || inputs.force-build) }}
    uses: ./.github/workflows/build_orca.yml
    with:
      artifact-name: ${{ needs.build_deps.outputs.artifact-name }}
      artifact-path: ${{ needs.build_deps.outputs.artifact-path }}
      os: ${{ inputs.os }}
      arch: ${{ inputs.arch }}
    secrets: inherit
