name: Check profiles
on:
  pull_request:
    branches:
    - main
    paths:
      - 'resources/profiles/**'
      - ".github/workflows/check_profiles.yml"
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  check_translation:
    name: Check profiles
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run extra JSON check
        id: extra_json_check
        continue-on-error: true
        run: |
          set +e
          python3 ./scripts/orca_extra_profile_check.py 2>&1 | tee ${{ runner.temp }}/extra_json_check.log
          exit ${PIPESTATUS[0]}

      # download
      - name: Download
        working-directory: ${{ github.workspace }}
        run: |
          curl -LJO https://github.com/NanashiTheNameless/OrcaSlicer/releases/download/Nightly-Rolling/OrcaSlicer_profile_validator_Linux_Ubuntu2404
          mv OrcaSlicer_profile_validator_Linux_Ubuntu2404 OrcaSlicer_profile_validator
          chmod +x ./OrcaSlicer_profile_validator

      # validate profiles
      - name: validate system profiles
        id: validate_system
        continue-on-error: true
        run: |
          set +e
          ./OrcaSlicer_profile_validator -p ${{ github.workspace }}/resources/profiles -l 2 2>&1 | tee ${{ runner.temp }}/validate_system.log
          exit ${PIPESTATUS[0]}

      - name: validate custom presets
        id: validate_custom
        continue-on-error: true
        working-directory: ${{ github.workspace }}
        run: |
          set +e
          curl -LJO https://github.com/NanashiTheNameless/OrcaSlicer/releases/download/Nightly-Rolling/orca_custom_preset_tests.zip
          unzip ./orca_custom_preset_tests.zip -d ${{ github.workspace }}/resources/profiles
          ./OrcaSlicer_profile_validator -p ${{ github.workspace }}/resources/profiles -l 2
          exit ${PIPESTATUS[0]}
